@tailwind utilities;
@import "tailwindcss";
@font-face {
  font-family: "grace";
  src: url("/fonts/CoveredByYourGrace.ttf");
}
@theme {
  --color-primary-blue: #213144;
  --color-service-green: #c5ce38;
  --color-primary-orange: #f7c35f;
  --color-primary-green: #49a760;
  --font-grace: "grace";
  --font-manrope: Manrope;
  --font-outfit: Outfit;
  --color-deep-blue: #213144;
  --color-ambient: #fefaf1;
}
body {
  font-family: "Inter", serif;
}
